<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table style="width:100%">
	<col width="90">
	<col width="90">
	<col width="90">
  <tr>
	<td>difi.move.feature.enableDPI=true</td>
	<td>Skrur på muligheten til å sende meldinger til innbygger</td>
	<td>true</td>
  </tr>
 </table>
 </body>
</html>
