<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    column-width: 100px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table >
  <tr>
    <th>Properties</th>
    <th>Eksempel Java Keystore (JKS)</th> 
    <th>Beskrivelse</th>
  </tr>
  <tr>
    <td>server.port</td>
    <td>9093</td> 
    <td>Portnummer integrasjonspunktet skal kjøre på (defualt 9093</td>
  </tr>
  <tr>
	<td>difi.move.org.number</td>
	<td>123456789</td>
	<td>Organisasjonsnummer til din organisasjon (9 siffer) </td>
  </tr>
  
	</table>
 </body>
</html>
